/*
Theme: Escumovil® V2
Theme URI: https://github.com/humbertolopez/em_v2
Author: Humberto López
Version: 0.5
*/
body, #single {
	margin: 0;
	font-size: 100%;
	color: #414141;
	font-family: Arial, sans-serif;
}
#single {
	background: url(img/bg.svg) no-repeat center top;
	background-size: 100% auto;
}
.block {
	display: block;
	overflow: hidden;
	clear: both;
}
.diagrama {
	margin-left: 0;
	margin-right: 0;
	max-width: 285px;
	height: auto;
}
/* header */
#single header {
	width: 100%;
	z-index: 9999;
	background: rgba(255,255,255,1);
	box-shadow: #414141 0 0 15px;
	overflow: hidden;
}
#home header {
	width: 100%;
	position: fixed;
	top: 70px;
	z-index: 9999;
	background: rgba(255,255,255,1);
	box-shadow: #414141 0 0 15px;
}
#nav, .inner-contacto {
	width: 1140px;
	margin: auto;
	clear: both;
}
#home .info-contacto {
	width: 100%;
	position: fixed;
	margin: auto;
	z-index: 666;
}
#single .info-contacto {
	width: 100%;
	z-index: 666;
	margin: auto;
	display: block;
	clear: both;
	overflow: hidden;
}
.info-contacto {
	background: linear-gradient(to bottom,rgba(255,255,255,1),rgba(255,255,255,0.0));
}
.info-contacto img {
	height: 1.75em;
	width: auto;
	line-height: 1.75em;
}
.info-contacto p {
	font-size: 0.750em;
	margin: 0;
}
.inner-contacto div {
	float: right;
	padding: 1% 0.5% 2%;
}
#menu {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-item {
	display: table-cell;
	padding: 15px;
	position: relative;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
}
.menu-item a {
	text-decoration: none;
	color: #414141;
}
.menu-item:hover a {
	color: #fff;
}
.menu-item:hover {
	background: #77C043;
}
.menu-item:hover > ul {
	display: block;
}
.sub-menu {
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 100%;
}
.sub-menu a {
	color: #fff;
	text-decoration: none;
}
.sub-menu-item {
	list-style: none;
	padding: 10px 15px;
	background: #414141;
}
.sub-menu-item:hover {
	background: #77C043;
}
.logo {
	float: left;
	height: 32px;
	width: auto;
	margin: 10px;
}
.tel h4 {
	font-size: 1.2em;
	line-height: 1.4em;
}
h4 {
	font-size: 0.875em;
	margin: 0;
}
/* header */
/* portada */
#portada {
	width: 100%;
}
.industriales, .eventos, .especiales, .empresa {
	width: 25%;
	height: 100vh;
	max-height: 1080px;
	float: left;
	position: relative;
	overflow: hidden;
}
#portada div:hover img {
	height: 110%;
	width: auto;
	opacity: 0.75;
}
#portada div:hover h1 {
	border-bottom: 1px solid #fff;
}
#portada div:hover p {
	opacity: 1.0;
	padding: 0;
	font-size: 1.15em;
}
#portada > div {
	transition: background .35s;
}
#portada > div:hover {
	background: rgba(0,0,0,0.85);
}	
#portada img {
	position: absolute;
	left: -135%;
	height: 100%;
	width: auto;
	transition: height .35s,  opacity .35s;
}
#portada a {
	color: #fff;
	text-decoration: none;
	display: block;
}
.inner-portada {
	width: 90%;
	padding: 0 5%;
	position: absolute;
	top: 45%;
	z-index: 1;
}
#portada h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	z-index: 1;
	color: #fff;
	text-shadow: 0 0 15px #000;
	text-align: center;
	transition: border-bottom .55s;
}
#portada p {
	padding: 15px 0 0 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	text-align: center;	
	color: #fff;
	text-shadow: 0 0 15px #000;
	opacity: 0.0;
	transition: opacity .55s;
	transition: padding .55s;
}
/* portada */
/* industriales */
#industriales, #eventos, #especiales, #empresa, #contacto {
	width: 100%;
	position: relative;
}
.bg {
	right: 0;
	left: 0;
	display: block;
	position: absolute;
	z-index: 1;
	width: auto;
	height: 100%;	
	filter: blur(5px) opacity(65%);
	-webkit-filter: blur(5px) opacity(65%);
}
#eventos .bg {
	background: linear-gradient(rgba(251,227,212,0.6),rgba(251,227,212,0.6)), url('img/eventossection.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#industriales .bg {
	background: linear-gradient(rgba(235,246,229,0.6),rgba(235,246,229,0.6)), url('img/construccionsection.jpg') no-repeat center center;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#especiales .bg {
	background: linear-gradient(rgba(235,246,229,0.6),rgba(235,246,229,0.6)), url('img/especialessection.jpg') no-repeat center center;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1, h2, h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
}
.content h1, .content p {
	margin-left: 1.5%;
	margin-right: 1.5%;
}
.content p.line {
	border-bottom: solid 1px #77C043;
	padding-bottom: 1.5em;
}
/* industriales */
/* paginas de producto */
.single-header {
	padding: 1.5%;
	border-bottom: solid 1px #77C043;
}
#producto {
	width: 100%;
}
#producto h1 {
	font-size: 2.25em;
	margin: 0 0 1em 0;
}
p {
	font-size: 0.85em;
	line-height: 1.5em;
}
h3 {
	font-size: 1.15em;
}
#producto ul {
	margin: 0;
	padding: 0;
}
#producto li {
	margin: 0 0 0.5em 0;
	padding: 0;
	font-size: 0.85em;
	list-style: none;
}
#producto li:before {
	content: "◊ ";
	color: #77C043;
}
.contentleft {
	width: 25%;
	float: left;
	padding: 2.5%;
	margin: 1.5%;
	border: 1px solid #CCC;
}
.innerproducto {
	max-width: 1140px;
	margin: auto;
	padding: 1.5% 0;
	position: relative;
}
#dimensiones {
	border: 0;
	border-spacing: 0;
	margin: 1em 0;
	font-size: 0.85em;
	width: 100%;
}
#dimensiones td {
	padding: 0.3em 0.5em;
}
#dimensiones tr:nth-child(odd) {
	background: #f1f1f1;
	border: 0;
}
#serviciosremolque {
	border: 0;
	border-collapse: collapse;
	margin: auto;
}
#serviciosremolque td, #serviciosremolque th {
	padding: 10px 0;
}
#serviciosremolque th {
	border-bottom: solid 1px #77C043;
}
#serviciosremolque td img {
	height: 35px;
	width: auto;
	margin: 0 5px;
}
#serviciosremolque td {
	font-size: 0.875em;
}
#serviciosremolque h2 {
	margin: 0;
}
/* paginas de producto */
/* footer */
footer {
	height: 50vh;
	background: #414141;
	width: 100%;
	box-shadow: inset 0px 0px 15px #000;
}
footer h2 {
	color: #FFF;
}
/* footer */
/* blocks */
.inner {
	max-width: 1140px;
	margin: 150px auto;
	position: relative;
	z-index: 100;
}
.inner-contentleft {
	transition: box-shadow .3s;
}
.inner-contentleft:hover {
	box-shadow: 0px 0px 5px #414141;
}
.content {
	width: 95%;
	padding: 2.5%;	
	background: #FFF;
	border: 1px solid #ccc;
}
.cuarto {
	width: 23%;
	padding: 1%;
	float: left;
	display: block;
	overflow: hidden;
}
.portada-header {
	display: block;
	float: left;
	overflow: hidden;
	max-width: 25%;
}
.home-link {
	padding: 0;
	margin: 0;
	display: block;
	text-decoration: none;
	color: #414141;
}
/* blocks */
/* galería */
figure {
	margin: 0;
}
.gallery {
	display: block;
	float: right;
	overflow: hidden;
	width: 75%;
	margin: 25px 0 0 0;
}
.gallery-row {
	display: block;
	clear: both;
	overflow: hidden;
}
.gallery-icon {
	width: 150px;
	height: 400px;
	margin: 5px;
	float: right;
	border: 1px solid #f1f1f1;
	opacity: 0.8;
	transition: opacity .3s;
	transition: box-shadow .3s;
}
.gallery-icon:hover {
	box-shadow: 0px 0px 5px #414141;
	opacity: 1.0;
	border: 1px solid #fff;
}
/* galería */